.container {
    background-color: var(--color-light-2);
    border-radius: var(--base-border-radius);
    overflow: hidden;
    border: 1px #ababab solid;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container > h1 {
    text-align: center;
    font-size: 6rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

.rangeContainer {
    background-color: var(--color-light-1);
    width: 100%;
    padding: 1vw 0;
    box-shadow: 0 -1px 17px 5px #0000002e;
    position: relative;
}

.rangeContainer:before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translate(-50%, 0);
    top: -30px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid var(--color-light-1);
}

@media screen and (max-width: 768px){
    .container {
        height: 100%;
        min-height: unset;
    }
    .controls {
        display: flex;
        justify-content: space-between;
        padding: 2vw;
    }
}
