.rangeContainer {
    display: flex;
    justify-content: space-around;
    position: relative;
    box-shadow: 0 5px 17px 5px #0000002e;
}

.rangeContainer button {
    z-index: 1;
    border: none;
    background-color: var(--color-light-1);
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 40px;
    cursor: pointer;
    position: relative;
}

.rangeContainer button.filled {
    background-color: var(--color-brand);
}

.rangeContainer button.active {
    background-color: var(--color-accent);
    animation: pop 0.2s ease-in;
}

.rangeContainer button:focus {
    outline: none;
    box-shadow: 0 0 10px 0 var(--color-accent);
    z-index: 2;
}

.rangeContainer > hr {
    width: 100%;
    position: absolute;
    align-self: center;
    height: 1px;
    margin: 0;
}

.block {
    width: 100%;
}

@keyframes pop {
    50%  { transform: scale(1.3) }
}
