.input {
    padding: 10px 20px;
    margin: 0;
    border-width: 1px;
    border-radius: var(--base-border-radius);
    font-size: var(--base-font-size);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.33);
}

.input:focus {
    outline: none;
    box-shadow: 0 0 10px 0 var(--color-accent);
}

.block {
    width: 100%;
}
