.modal {
    background-color: var(--color-light-1);
    color: var(--color-dark-1);
    border: none;
    padding: 2rem;
    border-radius: var(--base-border-radius);
    box-shadow: 0 0 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
    max-width: 90vw;
    display: none;
}

.modalOpen {
    overflow: hidden;
}

.backdrop {
    display: none;
}

.backdrop.open {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0, #0000009c, #503269b5);
    animation: backdrop 0.2s ease-in-out;
}

.modal.open {
    display: block;
    animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

.title {
    margin: 0;
    font-size: var(--xl-font-size);
    margin-bottom: 24px;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-3vw) scale(1, 1);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(0.8, 0.8);
    }
}

@keyframes backdrop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

